<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form id="f">
                <div>
                    <h:messages id="err"/>
                </div>
                <b:panel title="Non Ajax">
                    <b:autocomplete for="ac" limit="10" minLength="2">
                        <f:selectItems value="#{test.selectItems}"/>
                        <f:selectItem itemValue="1020"/>
                        <f:selectItem itemValue="1030"/>
                        <f:selectItem itemValue="1420"/>
                        <f:selectItem itemValue="1021"/>
                        <f:selectItem itemValue="1032"/>
                        <f:selectItem itemValue="1423"/>
                        <f:selectItem itemValue="1024"/>
                        <f:selectItem itemValue="1035"/>
                        <f:selectItem itemValue="1426"/>
                    </b:autocomplete>
                    <h:outputLabel value="Autocomplete:"/>
                    <h:inputText id="ac" value="#{autocomleteView.input}" styleClass="form-control"/>
                    <b:button onclick="test()">
                        open
                    </b:button>
                    <b:button action="#{autocomleteView.action}">
                        Test
                    </b:button>
                    <h:outputText value="#{autocomleteView.input}"/>
                    <script type="text/javascript">
                        function test(){
//                            $('[id $=ac]').typeahead('open')
                            $('[id $=ac]').data('typeahead')._showDropdown();
                        }
                    </script>
                </b:panel>
            </h:form>

            <h:form id="a">
                <div>
                    <h:messages id="erra"/>
                </div>
                <b:panel title="Ajax">
                    <b:autocomplete for="ac2" limit="10">
                        <f:selectItems value="#{test.selectItems}"/>
                        <f:selectItem itemValue="1020"/>
                        <f:selectItem itemValue="1030"/>
                        <f:selectItem itemValue="1420"/>
                        <f:selectItem itemValue="1021"/>
                        <f:selectItem itemValue="1032"/>
                        <f:selectItem itemValue="1423"/>
                        <f:selectItem itemValue="1024"/>
                        <f:selectItem itemValue="1035"/>
                        <f:selectItem itemValue="1426"/>
                    </b:autocomplete>
                    <h:outputLabel value="Autocomplete:"/>
                    <h:inputText id="ac2" value="#{autocomleteView.input}" styleClass="form-control">
                        <f:ajax event="blur" execute="@form" render="@form"/>
                    </h:inputText>
                    <h:outputText value="#{autocomleteView.input}"/>
                </b:panel>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
