<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f">
                <b:messages id="messages" globalOnly="true"/>
                <b:formGroup columns="4,8">
                    <h:outputLabel value="small"/>
                    <h:outputStylesheet>
                        .test{
                            color: green;
                        }
                    </h:outputStylesheet>
                    <b:buttonGroup>
                        <b:button style="border-radius: 0px" action="#{buttons.actionMessage}" size="sm" onclick="alert('onclick')">
                            <b:icon name="plus"/>
                        </b:button>
                        <b:button styleClass="test" action="#{buttons.actionMessage}" size="sm" onclick="alert('onclick')">
                            <b:icon name="plus"/>
                            <b:confirm message="ddd"/>
                            <f:ajax execute="@this" render=":f"/>
                        </b:button>
                        <ui:repeat value="#{buttons.confirmMessages}" var="cm" varStatus="idx">
                        <b:button action="#{buttons.actionMessage}" size="sm" title="#{cm}">
                            <b:icon name="plus"/>
                            with confirm #{cm}
                            <b:confirm/>
                        </b:button>
                        </ui:repeat>
                    </b:buttonGroup>
                </b:formGroup>
                <b:messages id="messages2"/>

                <b:formGroup columns="4,8">
                    <h:outputLabel value="Default"/>
                    <b:buttonGroup>
                        <b:button context="info">
                            <b:icon name="edit"/>
                            Ajax with confirm
                            <b:confirm message="Еуые" title="Подтверждение"/>
                            <f:ajax execute="@this" render="@form" listener="#{buttons.actionMessage}"/>
                        </b:button>
                    </b:buttonGroup>
                </b:formGroup>

                <b:formGroup columns="4,8">
                    <h:outputLabel value="Big"/>
                    <b:buttonGroup>
                        <b:button action="#{buttons.actionMessage}" size="lg">
                            <b:icon name="plus"/>
                            Simple BOOTSTRAP button
                        </b:button>
                        <b:button action="#{buttons.actionLog1}" size="lg">
                            <b:icon name="plus"/>
                            Without messages
                        </b:button>
                        <b:button action="#{buttons.actionMessage2()}" size="lg">
                            <b:icon name="plus"/>
                            Ajax render messages
                            <f:ajax execute="@this" render="messages messages2"/>
                        </b:button>
                    </b:buttonGroup>
                </b:formGroup>


                <h:panelGrid>
                    <h:commandLink value="Simple"
                                   action="#{buttons.actionLog1()}">
                        <b:confirm message="#{buttons.message}"/>
                    </h:commandLink>
                    <h:commandLink value="Confirm behavior"
                                   action="#{buttons.actionLog1()}">
                        <b:confirm message="#{buttons.message}"/>
                        <f:ajax execute="@this" render="@form" listener="#{buttons.actionLog2()}"/>
                    </h:commandLink>
                </h:panelGrid>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
