<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f">
                <h:messages/>
                <b:button>
                    refresh
                    <f:ajax render="@form"/>
                </b:button>

                <b:buttonMenu buttonLimit="3" styleClass="btn-group" context="info" size="xs">
                    <b:button noAction="true" size="xs">
                        1
                    </b:button>
                    <b:button noAction="true" size="xs"  rendered="false">
                        2
                    </b:button>
                    <b:button noAction="true" size="xs">
                        3
                    </b:button>
                    <b:button noAction="true" size="xs">
                        4
                    </b:button>
                    <b:button size="xs">
                        5
                        <f:ajax execute="@this" render="@form"/>
                    </b:button>
                </b:buttonMenu>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
