<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f">

                <b:table>
                    <ui:repeat value="#{confirm.list}" var="v">
                        <tr>
                            <td>
                                #{v}
                            </td>
                            <td>
                                <b:button action="#{confirm.action(v)}">
                                    Send
                                    <b:confirm message="Value #{v}"/>
                                    <f:ajax execute="@form" render="@form"/>
                                </b:button>
                            </td>
                        </tr>
                    </ui:repeat>

                </b:table>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
