<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="/template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f">
                <h:messages/>
                Onchange
                <b:datetime id="d" value="#{dateView.date}" pattern="dd/MM/yy HH:mm.S" >
                    <f:ajax event="change" listener="#{dateView.action}" execute="@form" render=":f:date"/>
                </b:datetime>
                <h:outputText value="#{dateView.date}" id="date"/>
            </h:form>

        </div>
    </ui:define>
</ui:composition>
</html>
