<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form id="f">
                <b:messages/>
                
                <b:date id="d" value="#{test.date}" onchange="test(event)"/>

                <script type="text/javascript">


                    function test(event){
//                        alert(event.date);
                        console.info(event.date)
                    }

                </script>
                
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
