<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f" method="post"  enctype="multipart/form-data">
                <h:messages/>
                <h:outputLabel value="Загрузка одного файла"/>
                <b:inputFile value="#{inputfile.file}" accept="image"/>
                <b:button action="#{inputfile.actionUpload}">
                    Upload
                </b:button>
            </h:form>
            <h:form styleClass="form-horizontal" method="post"  enctype="multipart/form-data">
                <h:messages/>
                <h:outputLabel value="Загрузка нескольких файлов"/>
                <b:inputFile value="#{inputfile.files}" accept="xml" multiple="true"/>
                <b:button action="#{inputfile.actionUploadMultiple()}">
                    Upload
                </b:button>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
