<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f">
                <b:menuGroup value="">
                    <f:facet name="button">
                        <b:button size="xs">
                            <b:icon name="chevron-down"/>
                        </b:button>
                    </f:facet>
                    <b:menuItem>
                        <b:buttonGroup>
                            <b:button size="xs">
                                <b:icon name="euro"/>
                            </b:button>
                            <b:button size="xs">
                                <b:icon name="plus"/>
                            </b:button>
                        </b:buttonGroup>
                    </b:menuItem>
                </b:menuGroup>
                <div>
                    <h:messages id="err"/>
                </div>
                <b:formGroup columns="6,6">
                    <b:autocomplete for="ac" limit="10">
                        <f:selectItem itemValue="1020"/>
                        <f:selectItem itemValue="1030"/>
                        <f:selectItem itemValue="1420"/>
                        <f:selectItem itemValue="1021"/>
                        <f:selectItem itemValue="1032"/>
                        <f:selectItem itemValue="1423"/>
                        <f:selectItem itemValue="1024"/>
                        <f:selectItem itemValue="1035"/>
                        <f:selectItem itemValue="1426"/>
                    </b:autocomplete>
                    <h:outputLabel value="Autocomplete:"/>
                    <h:inputText id="ac" styleClass="form-control"/>
                </b:formGroup>
                <b:formGroup styleClass="form-group-title" columns="3,3,3" offsets="2">
                    <h:outputText value="с"/>
                    <h:outputText value="по"/>
                    <h:outputText value="коэффициенты"/>
                </b:formGroup>
                <b:formGroup columns="2,3,3,2,2" id="camp">
                    <h:outputLabel value="Акция:"/>
                    <b:date value="#{test.begin}" disabled="#{test.disable}" pattern="dd.MM.yy"/>
                    <b:date value="#{test.end}" disabled="true" pattern="dd.MM"/>

                    <h:outputLabel value="к валовому доходу:"/>
                    <h:inputText value="#{test.password}"/>
                </b:formGroup>
                <b:formGroup columns="12,0">
                    <h:outputText id="fortimer" value="Timer UUID: #{test.cnt}"/>
                    <!--<b:timer interval="60000">-->
                        <!--<f:ajax execute="@this" render=":f:fortimer" listener="{test.actionTimer}"/>-->
                    <!--</b:timer>-->
                </b:formGroup>
                <b:formGroup columns="12" style="text-align:center">
                    <b:buttonGroup>
                        <b:button action="#{test.a1}" size="lg">
                            <b:icon name="euro"/>
                            Submit
                        </b:button>

                    </b:buttonGroup>
                </b:formGroup>
            </h:form>
            <b:panel>
                <h:form>
                    <b:select value="#{test.select}">
                        <f:selectItem itemValue="1"/>
                        <f:selectItem itemValue="2"/>
                        <f:selectItem itemValue="3"/>
                        <f:selectItem itemValue="4"/>
                        <f:ajax execute="@form" render="@none" listener="#{test.actionTestSelect}"/>
                        <f:convertNumber/>
                    </b:select>
                    <b:select value="#{test.select2}" search="true">
                        <f:selectItem itemValue="123"/>
                        <f:selectItem itemValue="1234" itemLabel="Label1234"/>
                    </b:select>
                    <h:selectOneMenu value="#{test.select3}">
                        <f:selectItem itemValue="123"/>
                        <f:selectItem itemValue="1234" itemLabel="Label1234"/>
                        <f:ajax execute="@form" render="@none" listener="#{test.actionTestSelect}"/>
                    </h:selectOneMenu>
                </h:form>
            </b:panel>
            <b:panel context="danger" styleClass="l">
                <table style="width: 50px" border="1px">
                    <tr>
                        <th>Table</th>
                    </tr>
                    <tr>
                        <td>
                            <b:crop>
                                Cropping child text
                            </b:crop>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b:crop>
                                Next Cropping child text
                            </b:crop>
                        </td>
                    </tr>
                </table>
            </b:panel>
        </div>

        <h:form id="md" rendered="false">
            <b:modal title="Test" name="modalDialog" id="dialog" idError="err" hideOnMask="false">
                <h:panelGroup style="background-color: lightgray" id="pan">
                    <h:messages id="mes"/>
                    Test content
                    <h:outputText value="next"/>
                </h:panelGroup>
                <f:facet name="footer" id="test">
                    <h:panelGroup id="bg">
                        <b:buttonGroup>
                            <h:commandLink value="UUID:#{test.cnt}" styleClass="btn btn-primary"
                                           action="#{test.actionTimer}">
                                <f:ajax execute="@this" render=":md:bg"/>
                            </h:commandLink>
                            <h:commandLink value="Close" styleClass="btn btn-primary"
                                           onclick="jsf.bootstrap.modal('md:dialog').hide();return false;"/>
                        </b:buttonGroup>
                        <b:buttonGroup>
                            <h:commandLink styleClass="btn btn-default" value="Hide if no error (no hide)"
                                           action="#{test.actionTestHideIfNoError()}">
                                <f:ajax execute="@this" render=":md:mes :md:err"
                                        onevent="jsf.bootstrap.modal(this).hideOk"/>
                            </h:commandLink>
                            <h:commandLink styleClass="btn btn-info" value="Hide if no error (hide)"
                                           action="#{test.actionLogin()}">
                                <f:ajax execute="@this" render=":md:mes :md:err :f"
                                        onevent="jsf.bootstrap.modal(this).hideOk"/>
                            </h:commandLink>
                        </b:buttonGroup>
                    </h:panelGroup>
                </f:facet>
            </b:modal>
        </h:form>
    </ui:define>
    <ui:define name="data">
        <div class="col-lg-6 col-lg-offset-3">
            <b:accordion id="a">
                <b:accordionPanel title="Login" open="true" id="main">
                    <h:form>
                        <h:messages errorStyle="color: red"/>
                        <h:inputText id="username" styleClass="form-control" value="#{test.username}"/>
                        <b:attr value="Имя пользователя" name="placeholder" for="username"/>
                        <h:inputSecret id="password" styleClass="form-control" value="#{test.password}">
                            <b:attr value="Пароль" name="placeholder"/>
                        </h:inputSecret>


                        <h:outputLabel value="запомнить меня" styleClass="checkbox">
                            <h:selectBooleanCheckbox value="#{test.remember}" id="remember-me"/>
                        </h:outputLabel>
                        <h:commandButton styleClass="btn btn-lg btn-primary btn-block" value="Simple"
                                         action="#{test.actionLogin}"/>
                        <h:commandButton styleClass="btn btn-lg btn-primary btn-block" value="Ajax"
                                         action="#{test.actionLogin}">
                            <f:ajax execute="@form" render="@form"/>
                        </h:commandButton>
                    </h:form>
                </b:accordionPanel>
                <b:accordionPanel title="Panel 2">
                    Panel 2
                </b:accordionPanel>
            </b:accordion>
        </div>
    </ui:define>
</ui:composition>
</html>
