<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f">
                <div>
                    <h:messages id="err"/>
                </div>
                <b:formGroup columns="6,6">
                    <h:outputLabel value="Search:"/>
                    <h:selectBooleanCheckbox value="#{selectView.search}">
                        <f:ajax execute="@this" render="@form"/>
                    </h:selectBooleanCheckbox>
                    <h:outputLabel value="Select:"/>
                    <b:select value="#{selectView.input}" search="#{selectView.search}">
                        <f:selectItems value="#{test.selectItems}">
                        </f:selectItems>
                        <f:selectItem itemValue="1020"/>
                        <f:selectItem itemValue="1030"/>
                        <f:selectItem itemValue="1420"/>
                        <f:selectItem itemValue="1021"/>
                        <f:selectItem itemValue="1032"/>
                        <f:selectItem itemValue="1423"/>
                        <f:selectItem itemValue="1024"/>
                        <f:selectItem itemValue="1035"/>
                        <f:selectItem itemValue="1426"/>
                    </b:select>
                    <b:button action="#{selectView.action()}">
                        Test
                    </b:button>
                    <h:outputText value="#{selectView.input}"/>
                </b:formGroup>
            </h:form>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h:form>
                <b:select value="#{selectView.input}" search="#{selectView.search}">
                    <f:selectItems value="#{test.selectItems}" var="v" itemValue="#{v}"
                                   itemLabel="&gt;span class='label label-success'&lt;#{v}&gt;/span&lt;">
                        <f:facet name="ddd"/>
                    </f:selectItems>
                    <f:facet name="content">
                        <span class='label label-success'>Relish</span>
                    </f:facet>
                </b:select>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
