<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="../template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form>
                <b:select value="#{selectView.input}" search="#{selectView.search}" width="60px">
                    <f:selectItems value="#{test.strings}" var="v" itemValue="#{v}"
                                   itemLabelEscaped="false"
                                   itemLabel="&lt;span&gt;
&lt;img src='#{resource['/img/flags/'.concat(v).concat('.png')]}' style=&quot;margin-top: -2px; border: none&quot;/&gt; - #{v}
&lt;/span&gt;"/>
                    <f:ajax execute="@form" listener="#{selectView.action}"/>
                </b:select>
            </h:form>
            <h:form>
                <b:select value="#{selectView.input}" search="#{selectView.search}">
                    <f:selectItems value="#{test.strings}" var="v" itemValue="#{v}"
                                   itemLabel="&lt;span class='label label-success'&gt;#{v}&lt;/span&gt;"/>
                    <f:ajax execute="@form" listener="#{selectView.action}"/>
                </b:select>

            </h:form>
            <h:form>
                <h:selectOneMenu value="#{selectView.input}">
                    <f:selectItems value="#{test.strings}" var="v" itemValue="#{v}"/>
                    <f:ajax execute="@form" listener="#{selectView.action}"/>
                </h:selectOneMenu>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
