<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="/template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f">
                <h:messages/>

                <div style="width: 100px;height: 100px;background-color: green">
                    <b:json varName="data" value="#{json.items}"/>
                    <script>
                        alert(data[1].text)
                    </script>
                </div>
                <b:formGroup columns="12">
                </b:formGroup>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
