<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="/template/t.xhtml">
    <ui:define name="data0">
        <b:expire title="Expire" message="Session expire!"/>

        <div class="col-lg-8 col-lg-offset-2">
            <h:outputText id="ff" value="#{modalTest.time}"/>
            <h:form styleClass="form-horizontal" id="f">
                <h:messages/>
                <b:button size="xs" context="info" action="#{modalTest.action}">
                    <b:icon name="signal"/>
                    Open modal
                    <f:ajax execute="@all" onevent="jsf.bootstrap.modal('cbModal').show"/>
                </b:button>
                <b:button size="xs" context="info">
                    <b:icon name="signal"/>
                    Open modal onHide
                    <f:ajax execute="@this" render=":form2" onevent="jsf.bootstrap.modal('cbModal2').show"/>
                </b:button>
                <b:button size="xs" context="info" action="#{modalTest.action}">
                    <b:icon name="signal"/>
                    Render modal
                    <f:ajax execute="@this" render=":form"/>
                </b:button>
                <b:button size="xs" context="info" action="#{modalTest.action}">
                    <b:icon name="signal"/>
                    Render page
                </b:button>
            </h:form>
        </div>

        <h:form id="form">
            <b:modal title="Modal window" id="cbModal" hideOnMask="true">
                <f:ajax event="hide" render="ff"/>
                <f:ajax event="show" execute="@form" render=":form:time"/>
                <h:messages id="err"/>
                <b:severity id="sev"/>
                Modal <h:outputText value="#{modalTest.time}" id="time"/>

                <f:facet name="footer">
                    <b:buttonGroup>
                        <b:button action="#{modalTest.actionError}">
                            Close (error)
                            <f:ajax execute="@form" render=":form:err :form:sev"
                                    onevent="jsf.bootstrap.modal(this).hideOk"/>
                        </b:button>
                        <b:button action="#{modalTest.actionOk}">
                            Close (ok)
                            <f:ajax execute="@form" render=":form:err :form:sev"
                                    onevent="jsf.bootstrap.modal(this).hideOk"/>
                        </b:button>
                    </b:buttonGroup>
                </f:facet>
            </b:modal>
        </h:form>

                                 <script>
                                     function hide2(data){
                                         alert(data.status);
                                     }
                                 </script>
        <h:form id="form2">
            <b:modal title="With callbacks" id="cbModal2" hideOnMask="true">
                <f:ajax event="hide" render=":ff"/>
                <h:messages id="err2"/>
                <b:severity id="sev2"/>
                Modal

                <f:facet name="header">
                    <h:commandLink value="&#215;" action="#{modalTest.actionError}" styleClass="close">
                        <f:ajax execute="@form" render=":form:err :form:sev"
                                onevent="jsf.bootstrap.modal(this).hideOk"/>
                    </h:commandLink>
                    <h4 class="modal-title">
                        Override header
                    </h4>
                </f:facet>
                <f:facet name="footer">
                    <b:buttonGroup>
                        <b:button action="#{modalTest.actionError}">
                            Close (error)
                            <f:ajax execute="@form" render=":form:err2 :form:sev2"
                                    onevent="jsf.bootstrap.modal(this).hideOk"/>
                        </b:button>
                        <b:button action="#{modalTest.actionOk}">
                            Close (ok)
                            <f:ajax execute="@form" render=":form:sev2"
                                    onevent="jsf.bootstrap.modal(this).hideOk"/>
                        </b:button>
                    </b:buttonGroup>
                </f:facet>
            </b:modal>
        </h:form>

    </ui:define>
</ui:composition>
</html>
