<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootstrap.java-fun.ru"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<ui:composition template="/template/t.xhtml">
    <ui:define name="data0">
        <div class="col-lg-8 col-lg-offset-2">
            <h:form styleClass="form-horizontal" id="f">
                <b:formGroup columns="12,0">
                    <h:outputText id="fortimer" value="Timer UUID: #{test.cnt}"/>
                    <b:timer interval="2000" jsEnable="false">
                        <f:ajax execute="@this" render=":f:fortimer" listener="#{test.actionTimer}"/>
                    </b:timer>
                </b:formGroup>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
