<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootstrap.java-fun.ru"
        >
<h:head>
    <title>jsf-bootstrap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<h:outputScript library="javax.faces" name="jsf.js"/>-->

</h:head>
<h:body>
    <!--<h:outputStylesheet library="theme" name="bootstrap.min.css"/>-->
    <!--<h:outputStylesheet library="theme" name="styles.css"/>-->
    <!--<b:bootstrap-support-on/>-->
    <h:form>
        <b:menuBar brand="Brand jsf-bootstrap" inverse="true" fixed="true"
                   brandTitle="Brand jsf-bootstrap test" contentPadding="15">
            <b:menu>
                <b:menuGroup value="Group 1">
                    <b:menuItem>
                        <h:commandLink value="Main" action="/test/main.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="b:autocomplete" action="/test/autocomplete.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="b:date" action="/test/date.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="b:datetime" action="/test/datetime.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="b:select" action="/test/select.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="Buttons and confirm" action="/test/buttons.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="Buttons menu" action="/test/buttons-menu.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="b:confirm" action="/test/confirm.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="Input group" action="/test/input-group.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="Input file" action="/test/input-file.jsf?faces-redirect=true"/>
                    </b:menuItem>
                </b:menuGroup>
                <b:menuGroup value="Group 2">
                    <b:menuItem>
                        <h:commandLink value="Json" action="/group2/json.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="Timer" action="/group2/timer.jsf?faces-redirect=true"/>
                    </b:menuItem>
                    <b:menuItem>
                        <h:commandLink value="Modal" action="/group2/modal.jsf?faces-redirect=true"/>
                    </b:menuItem>
                </b:menuGroup>
            </b:menu>
            <b:menu>
                <b:menuGroup value="Menu 3">
                    <b:menuItem>
                        <h:commandLink value="Point 3.1" action="/test/test.jsf"/>
                    </b:menuItem>
                </b:menuGroup>
            </b:menu>
            <b:menu>
                <p class="navbar-text title"><ui:insert name="header">Title</ui:insert></p>
            </b:menu>
            <b:menu toright="true">
                <b:menuLink value="/test/test.jsf" target="_blank">Test icon<span
                        class="glyphicon glyphicon-user left-space"/></b:menuLink>
            </b:menu>
        </b:menuBar>
    </h:form>

    <div class="container">
        <div class="row">
            <ui:insert name="data0"/>
        </div>
        <div class="row">
            <ui:insert name="data"/>
        </div>
        <div class="row">
            <ui:insert name="next"/>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ui:insert name="output"/>
            </div>
        </div>
    </div>
    <!--<b:expired/>-->
</h:body>
</html>
