div.-jbs-crop {
    position: relative;
    min-width: 20px;
    overflow: hidden;
}

div.-jbs-crop > div {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

div.-jbs-crop-wrap {
    white-space: nowrap;
}
