.tt-dropdown-menu,
.gist {
    text-align: left;
}

/* base styles */
/* ----------- */

.typeahead,
.tt-query,
.tt-hint {
    /*width: 396px;*/
    /*height: 30px;*/
    /*padding: 8px 12px;*/
    /*font-size: 24px;*/
    /*line-height: 30px;*/
    /*border: 2px solid #ccc;*/
    /*-webkit-border-radius: 8px;*/
    /*-moz-border-radius: 8px;*/
    /*border-radius: 8px;*/
    outline: none;
}

.typeahead {
    /*background-color: #fff;*/
}

.typeahead:focus {
    /*border: 2px solid #0097cf;*/
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    /*width: 422px;*/
    min-width: 100%;
    margin-top: 6px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    /*font-size: 18px;*/
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    /*font-size: 14px;*/
}
